      [Unit]
      Description=uWSGI for pytime
      After=network.target

      [Service]
      User={{ template_blog_user }}
      Group={{ template_blog_user }}
      WorkingDirectory={{ template_blog_directory }}
      ExecStart=/usr/bin/uwsgi --ini blog.ini

      [Install]
      WantedBy=multi-user.target